.applicants-wrapper-main{
  min-height: 100vh;
  margin-bottom: 60px;
}

.applicants-title{
  font-size: 30px;
  margin: 30px 0px;
  text-align: center;
}

.grid-wrapper{
  margin: 30px 150px;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th{
  padding: 5px;
  text-align: center;
}

