<head>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<form id="cvForm" action="/CVTemplate1" method="POST">

</form>

<button id="cvButton" onclick="createCV()">CV</button>

<script>
    $("#cvButton").click(function () {
        $("#cvForm").submit();
    });

// });
//     // call aspect predict function
//     function createCV() {
//         console.log("In here")
//         url = "/CVTemplate1"
//         var posting = $.post(url);

//         // Put the results in a div
//         posting.done(function (data) {
//         });
//     }

</script>